/*font-family: 'Ubuntu', sans-serif;*/

.logo {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700; 
    font-size: 6rem; 
    letter-spacing: -0.9rem;
    position: absolute;
    top: 20%;
    left: 40%;
}

.zero, .third {
    color: rgb(26, 105, 196);
}

.first, .fifth {
    color: red;
}

.second {
    color: rgb(233, 148, 20);
}

.forth {
    color: green;
}

