


ul {
    list-style-type: none;
    font-size: 13px;
    color: #000;
    font-family: Roboto, RobotoDraft, arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: inline;
}
   
  li a {
    color: #000;
    padding: 15px 10px;
    text-decoration: none;
    float: right;
}
  
li a:hover:not(.active) {
    text-decoration: underline;
}

.logo {
    display: inline;
    position: absolute;
    left: 41%;
    top: 16%;
}
.logo img {   
    width: 272px;   
}

